@charset "utf-8";

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
}

#form-div {
    background-color: rgba(102, 102, 102, 0.4);
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 18px;
    padding-bottom: 50px;
    width: 233px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 22px;
    margin-left: -152px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
