
body {
	font-family:verdana,arial,sans-serif;
	font-size:10pt;
	
	background-color:#0098d9;
	overflow:hidden;
	
padding-top:50px;

	}
	
#Logo {
	
	position:fixed;
	
	top:-40px;
	left:-140px;

	
	
	
	
}
#Menu
{
	position:absolute;

	right:-140px;
	top:-32px;

      
	
	
	
	
	
}

#nav_menu

{
	
width:100px; height:auto; background-color:#CCC;display:none;}

#wrap
{
	
	
 width:100px
 
  }



