

.pushmenu {
        background: #3c3933;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 1000;
}
 
.pushmenu h3 {
        color: #cbbfad;
        font-size: 14px;
        font-weight: bold;
        padding: 15px 20px;
        margin: 0;
        background: #282522;    
        height: 16px;
}
 
.pushmenu a {
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-top: 1px solid #57544e;
        border-bottom: 1px solid #312e2a;
        padding: 14px;
}
 
.pushmenu a:hover {
        background:258ecd;      
}
 
.pushmenu a:active {
        background: #454f5c;
        color: #fff;    
}
 
.pushmenu-left {
        right: -240px;   
}
 
.pushmenu-left.pushmenu-open {
        right: 0px;      
}
 
.pushmenu-push {
        overflow-x: hidden;
        position: relative;
        right: 0;        
}
 
.pushmenu-push-toright {
        right: 240px;    
}
 
/*Transition*/
.pushmenu, .pushmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;      
}
 
#nav_list {
	position:fixed;
       background: url("https://cloud.githubusercontent.com/assets/10116235/6578018/96226578-c739-11e4-8946-a6eef534cc63.png")no-repeat right top; 
        cursor: pointer;
        right:30px;
        top:30px;
        height: 50px;
        width: 60px;
        text-indent: -99999em;  
        z-index:500;
        
}
 
#nav_list.active {
        background-position: -33px top; 
}
 

 
section.content {
        font-family: Arial, Helvetica, sans-serif;
        padding: 120px 20px;     
}
