body {
	background-color: #DBE8F9;
	font: 11px/24px "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #5A698B;
}

#register{
	
	
	position:absolute;
	padding-left:30px;
	top:200px;
}
