
body {
	font-family:verdana,arial,sans-serif;
	font-size:10pt;
	
	background-color:white;
	margin:0px;
	


	}
	
#Logo {
	
	position:fixed;
	
	top:-40px;
	left:-140px;

	
	
	
	
}

#top_menu
{
position:fixed;	
background-color:#0098d9;	
margin:0;
width:100%;
height:100px;
z-index:300;

}



#Menu
{
	position:fixed;

	right:65px;
	top:10px;

      
}





#chain
{
	
	position:fixed;
	top:70px;
	left:-10px;
	z-index:20;
}

 
.clearfix:after {
    display:block;
    clear:both;
}
 




#Lightning
{
	
	position:absolute;
	
	top:95px;
	left:350px;
	
	
}


#Intro_text
{
	position:relative;
	text-align:left;
	font-family:"Arial Black";
	padding-left:40px;
	top:30px;
	
	
	
	
}

#heading
{
 position:absolute;
 top:100px;	
 z-index:40;
 left:177px;
 
 	
	
	
}


#text
{
	
	
	position:absolute;
	padding-left:30px;
	padding-right:30px;
	top:150px;
	font-family:"Arial Black";
	
}
	
	
	
}


