
body {
	font-family:verdana,arial,sans-serif;
	font-size:10pt;
	overflow:hidden;
	background-color:white;
	margin:0px;
	


	}
	
#Logo {
	
	position:fixed;
	
	top:-40px;
	left:-140px;

	
	
	
	
}

#top_menu
{
	
background-color:#0098d9;	
margin:0;
width:100%;
height:100px;
}



#Menu
{
	position:absolute;

	right:65px;
	top:10px;

      
}



#nav_menu

{
	
width:10px;
 height:auto;
  background-color:#CCC;
  display:none;}



#chain
{
	
	position:relative;
	top:70px;
	left:-10px;
	z-index:20;
}

 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#0098d9;
    z-index:100;
}
 
.menu {
    width:60px;
    margin:0px auto;
    z-index:100;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
    z-index:100;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#0098d9;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
   float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:1px 2px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#0098d9;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:100;
    opacity:1;
}
 
.sub-menu {
    width:300px;
    padding:5px 0px;
    position:absolute;
    top:80%;
    left:-130px;
    
    z-index:100;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:10px 10px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:22px;
}
 
.sub-menu li a {
    padding:22px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}





#Lightning
{
	
	position:absolute;
	
	top:95px;
	left:350px;
	
	
}


#Intro_text
{
	position:relative;
	text-align:left;
	font-family:"Arial Black";
	padding-left:40px;
	top:30px;
	
	
	
	
}

#heading
{
 position:absolute;
 top:100px;	
 z-index:40;
 left:177px;
 
 	
	
	
}


#text
{
	
	
	position:absolute;
	padding-left:30px;
	padding-right:30px;
	top:150px;
	font-family:"Arial Black";
	
}
	
	
	
}


