body {
	font-family:verdana,arial,sans-serif;
	font-size:10pt;
	background-color:white;
	margin:0px;
	padding:0;
	overflow-x: hidden;
	overflow-y: scroll;
	max-width:100%;
	width:100%;
	height:auto;
	
	


	}

	
#Logo {
	
	position:absolute;
	
	top:-30px;
	left:-140px;
	z-index:10;

	
	
	
	
}









#top_menu
{
position:fixed;	
background-color:#0098d9;	
margin:0;
width:100%;
height:100px;
z-index:300;

}



#Menu
{
	position:fixed;

	right:65px;
	top:10px;

      
}





#chain
{
	
	position:fixed;
	top:70px;
	left:-10px;
	z-index:20;
}

 
.clearfix:after {
    display:block;
    clear:both;
}

#heading2

{
	
	position:absolute;
	top:120px;
	right:40%;
	
	
	
}

#register
{
	position:absolute;
	top:200px;
	right:40%;
	
	
	
}

#wire
{
	
	
	
	position:absolute;
	top:125px;
	left:-7px;
}
 













